@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Fonts */
    @font-face {
        font-family: "Gibson";
        font-weight: light;
        font-style: normal;
        src: url("/src/assets/fonts/Gibson-Light.ttf") format("ttf");
    }
    @font-face {
        font-family: "Gibson";
        font-weight: light;
        font-style: italic;
        src: url("/src/assets/fonts/Gibson-LightIt.ttf") format("ttf");
    }
    @font-face {
        font-family: "Gibson";
        font-weight: normal;
        font-style: normal;
        src: url("/src/assets/fonts/Gibson-Regular.ttf") format("ttf");
    }
    @font-face {
        font-family: "Gibson";
        font-weight: normal;
        font-style: italic;
        src: url("/src/assets/fonts/Gibson-Italic.ttf") format("ttf");
    }
    @font-face {
        font-family: "Gibson";
        font-weight: medium;
        font-style: normal;
        src: url("/src/assets/fonts/Gibson-SemiBold.ttf") format("ttf");
    }
    @font-face {
        font-family: "Gibson";
        font-weight: medium;
        font-style: italic;
        src: url("/src/assets/fonts/Gibson-SemiBoldIt.ttf") format("ttf");
    }
    @font-face {
        font-family: "Gibson";
        font-weight: bold;
        font-style: normal;
        src: url("/src/assets/fonts/Gibson-Italic.ttf") format("ttf");
    }
    @font-face {
        font-family: "Gibson";
        font-weight: bold;
        font-style: italic;
        src: url("/src/assets/fonts/Gibson-BoldIf.ttf") format("ttf");
    }

    /* Text basics */
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    a,
    button {
        font-family: Gibson, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}
